body {
  margin: 0;
  text-align: center;
  background-color: #E3FDFD;
  color: black;
  /*font-family: cursive;*/
  font-family: 'Merriweather Sans', sans-serif;
  /*font-family: 'Sacramento', cursive;*/
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 500%; /*16px = 1em = 100%*/
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

div {
  background-color: #E3FDFD;
}

.top-container {
  position: relative;
  padding: 100px;
}

.bottom-container {
  position: relative;
  padding: 30px;
  background-color: #64C9CF;
}

.bottom-cloud {
  position: absolute;
  left: auto;
  right: 200px;
}

.top-cloud {
  position: absolute;
  left: 200px;
  right: auto;
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.footer-link {
    line-height: 1em;
    display: inline-block;
    text-decoration: underline;
    padding: 0 8px 0 8px;
    margin: 0 8px 0 8px;
  color: #11999E;
}

.skills {
  top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.My-skills {
  margin-top: 80px;
  font-weight: bolder;
  font-size: 3em;
}

.code-pic {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 30px;
}

.web-pic {
  width: 300px;
  height: 200px;
  float: right;
  margin-left: 30px;
}

.get-in-touch {
  color: #00C1D4;
}

.button {
  display: inline-block;
  border-radius: 12px;
  background-color: #64C9CF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.contact-me {
  margin-top: 50px;
  margin-bottom: 50px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
