body {
  margin: 0;
  text-align: center;
  background-color: #E3FDFD;
  color: black;
  /*font-family: cursive;*/
  font-family: 'Merriweather Sans', sans-serif;
  /*font-family: 'Sacramento', cursive;*/
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 500%; /*16px = 1em = 100%*/
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

div {
  background-color: #E3FDFD;
}

.top-container {
  position: relative;
  padding: 100px;
}

.bottom-cloud {
  position: absolute;
  left: auto;
  right: 200px;
}

.top-cloud {
  position: absolute;
  left: 200px;
  right: auto;
}

.profile-pic {
  width: 200px;
  height: 200px;
}

.footer-link {
    line-height: 1em;
    display: inline-block;
    text-decoration: underline;
    padding: 0 8px 0 8px;
    margin: 0 8px 0 8px;
  color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.My-skills {
  font-weight: bolder;
}
